# Directorio de node_modules
node_modules/

# Archivos y directorios de compilación de Next.js
.next/
out/

# Archivos de configuración que no necesitan linteo
*.config.js
next.config.js
next.config.mjs

# Archivos de registro y directorios de caché
logs/
*.log
.cache/
coverage/

# Directorios de ambiente
.env*
!.env.example

# Directorios y archivos que pueden contener datos o scripts temporales
temp/
tmp/

# Archivos específicos de IDE o editores de texto
.idea/
.vscode/
*.swp
*.swo

# Carpeta pública que podría contener assets que no requieren linteo
public/

# Archivos de construcción y distribución
dist/
build/

# Archivos de prueba y sus configuraciones
__tests__/
__mocks__/
jest.config.js
cypress/
